name: Build and deploy onion
on:
  push:
    branches:
      - main
env:
  IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}
  KEY: gcpkms://projects/plattformsikkerhet-dev-496e/locations/europe-north1/keyRings/cosign/cryptoKeys/cosign-test/versions/1
jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'gradle'
      - run: ./gradlew build fatJar --no-daemon

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Docker image
        run: |
          docker build --pull --tag ${IMAGE} .
          docker push ${IMAGE}

      - name: Authenticate to Google Cloud
        id: 'google'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: NAIS SLSA Provenance Action
        uses: nais/salsa@v0.1
        with:
          image: ${{ env.IMAGE }}
          key: ${{ env.KEY }}
          docker_registry: ghcr.io
          docker_user: ${{ github.actor }}
          docker_pwd: ${{ secrets.GITHUB_TOKEN }}

      # For test output
      - name: Upload provenance
        uses: actions/upload-artifact@v2
        with:
          path: |
            ./onion.provenance
            ./onion.raw.txt
            ./onion.att
