name: "Build and deploy tomato"
on:
  push:
    branches:
      - "main"
env:
  IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}
jobs:
  build:
    name: "build"
    runs-on: ubuntu-20.04
    steps:
      - uses: "actions/checkout@v2"

      - uses: "actions/setup-java@v2"
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: "compile and run tests"
        run: "./gradlew build"

      - name: "Login to GitHub Docker Registry"
        uses: "docker/login-action@v1"
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build and push the Docker image"
        run: |
          docker build --pull --tag ${IMAGE} .
          docker push ${IMAGE}

      - name: 'Authenticate to Google Cloud'
        id: 'google'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: NAIS SLSA Provenance Action
        uses: nais/salsa@v0.0.1-alpha-11
        with:
          image: ${{ env.IMAGE }}

      # For test output
      - name: Upload provenance
        uses: actions/upload-artifact@v2
        with:
          path: |
            ./onion.provenance
            ./onion.raw.txt
            ./onion.att
